# Core framework
Flask==2.3.3
gunicorn==21.2.0
python-dotenv==1.0.1
Flask-Cors==4.0.0
requests==2.31.0

# Database
SQLAlchemy==2.0.30
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9

# FIXED versions to avoid binary mismatch
numpy==1.26.4
pandas==2.2.2
scikit-image==0.22.0
torch==2.2.2
torchvision==0.17.2
